@use 'colours';

$container-padding: 30px;

.container {
    margin: 10px auto;
    padding: $container-padding;
    width: 100%;
    max-width: calc(1500px - 2*$container-padding);
}

.jumbotron {
    background-color: colours.$primary-colour-light;
    padding: 3rem;
}

.section {
    margin-bottom: 5rem;
}
