@font-face {
    font-family: "Avenir";
    src: url(fonts/Avenir\ Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Avenir";
    src: url(fonts/Avenir\ Light.ttf) format("truetype");
    font-weight: lighter;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 1.5rem;
    --primary-colour: #0f6fc6;
    --primary-colour-dark: #0c579d;
    --text-hover-color: #e9e9e9;
}

p {
    margin: 0;
}

.container {
    margin: 10px auto;
    width: 1500px;
}

.header {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.page-title {
    font-size: 4rem;
    font-weight: lighter;
}

.authors {
    font-size: 2rem;
    color: white;
    background-color: var(--primary-colour);
    padding: 0.4em 0;
    width: 50%;
    margin: 0 auto;
}

.authors span {
    margin: 0 20px;
}

.abstract {
    margin-top: 0;
    margin-bottom: 2rem;
}

.jumbotron {
    background-color: #e9f5ff;
    padding: 3rem;
}

.ismir-text {
    margin-bottom: 2rem;
    font-style: italic;
}

.button-group .btn {
    margin-right: 1rem;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-primary {
    background-color: var(--primary-colour);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-colour-dark);
    color: var(--text-hover-color)
}

.btn-light {
    color: var(--primary-colour);
    border: 1.5px solid var(--primary-colour);
}

.btn-light:hover {
    background-color: var(--primary-colour-dark);
    color: var(--text-hover-color)
}
